@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

.container{
  background-color: hsl(222, 26%, 31%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container + div{
  width: 50%;
}
.display{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background:hsl(223, 33%, 8%) ;
  margin: 20px 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.display span{
  color: white;
  font-size: 32px;
  padding: 5px;
}
.keyBoard{
  background-color: hsl(223, 31%, 20%);
  display: grid;
  border: none;
  border-radius: 5px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* autofill autofit
   */
  gap: 10px;
}
.btn{
  padding: 1rem;
  font-size: 32px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2{
   grid-area: 5/1/6/3;
}
.btn-3{
  grid-area: 5/3/6/5; 
  
}